* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bricolage Grotesque', sans-serif;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  justify-content: space-between;
  height: 100vh;

}

.header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-size: larger;
}

.main-body {
  flex: 1;
  display: flex;
  overflow: hidden;

}

.content {
  flex: 3;
  margin: 1%;
  background-color: beige;
  padding: 1rem;
  overflow-y: auto;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.2);
  text-align: justify;
  text-justify: inter-word;
  border-radius: 2%;
  background-image: url("../public/bg1.png");
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
}

.content img {
  height: 300px;
  width: 300px;
  position: relative;
  left: 30%;
  border-radius: 5px;
  opacity: .8;
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}



.long-line {
  height: 2px;
  width: 100%;
  background-color: #b56e6e;
  margin-top: 10px;
  margin-bottom: 10px;
}

.aside {
  border-radius: 2%;
  flex: 1;
  background-color: beige;
  padding: 20px;
  margin: 1% 1% 1% 0%;
  overflow-y: auto;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.2);
}

.authorContent{
  border-radius: 2%;
  flex: 1;
  background-color: rgb(244, 244, 228);
  padding: 20px;
  margin: 1% 1% 1% 0%;
  overflow-y: auto;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.2);
}




.blog-ch h1 {
  text-align: center;
}




.buttonContainer {
  display: flex;
  align-items: center; 

}


Button ,span{
  margin: 2px;
}
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  position: sticky;
  bottom: 0;
  
}

.footer-p{
  opacity: 0.5;
}

.footer-p{
  opacity: 0.5;
}



.fade-in{

    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode:backwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}







/* Responsive styles using media queries */
@media screen and (max-width: 768px) {
  .main {
    overflow-y: scroll;
  }

  .main-body {
    flex-direction: column;
    overflow: auto;
  }
  .aside{
    margin: 0% 1% 1% 1%;
    overflow-y: visible;
  }
  .content {
    margin: 1%;
    overflow-y: visible; /* Remove overflow-y property */
     box-shadow: none;  
  }

  .content img {
    width: 100%;
    height: auto;
    left: 0;
  }
}






